<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111395267-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111395267-1');
</script>

    
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PF4W72S');</script>
<!-- End Google Tag Manager -->
    
    

   
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fenix Commerce</title>
    <link rel="stylesheet" href="public/css/assets/bootstrap/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/490fe37b2d.js"></script>

   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="public/css/assets/css/user.css">
    <link rel="stylesheet" href="public/css/assets/css/Login-Form-Dark.css">
</head>

<body style="font-family:Lato, sans-serif;">
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PF4W72S" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    <nav class="navbar navbar-default navbar-fixed-top" style="font-family:Lato, sans-serif;border-bottom:1px solid #D1EEF8;">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="http://fenixcommerce.com"> <img src="public/css/assets/img/fenix_logo_color.png" class="fx-logo"></a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
              
                    <li role="presentation"><a href="index.html#go-demo" >Request Demo</a></li>
                    <li role="presentation"><a href="https://test-console.fenixcommerce.com/#/" target="_blank" style="color: rgb(208,208,208);">Log In</a></li>
                </ul>
        </div>
        </div>
    </nav>

    
    <div id="go-down" style="height:190px;"></div>
    <div>
        <div class="container">
          
            <div class="row" >
                <div class="col-lg-8 col-lg-offset-2 dis-text-1">
                   <h1 class="blue-heading3" style="text-align: center;">About Us</h1>
                   <div style="height: 30px;"></div>
                    <p class="text-big" style="text-align: center;">Fenix Commerce has a cloud based service that connects your customer’s location to your distribution centers and based on data from leading carriers like UPS, FEDEX and USPS provides real time, reliable, intelligent, personalized delivery experience, and the integration of Fenix Commerce into your site’s online experience can happen within weeks! 
<br><br>
From pick to pack, shipments, cut off times, and more, Fenix results in real-time improvements to your customers’ experience. See a double-digit increase in site traffic conversion, big reduction in cart abandonment, increase in average order values, customer loyalty, and a landslide improvement in marketing ROI.
<br><br>
Take control of the delivery experience on your site and get credit for all the good work you already do. 
<br><br>
Let Fenix Commerce make your customers dedicated buyers for life.
</p>
                </div>
             
            </div>

<div style="height: 200px"></div>

             <div class="row" >
                <div class="col-lg-8 col-lg-offset-2 dis-text-1">
                   <h1 class="blue-heading3" style="text-align: center;">Our Team</h1>
                   <div style="height: 30px;"></div>
                    <p class="text-big"  style="text-align: center;">With collective experience of over 100 years, our team has begun its journey to transform the world of eCommerce. Our passion and dedication motivates and pushes us to polish our skills and our services every day and move towards perfection. 
</p>

                </div>
             

       

</div>


  <div style="height: 100px;"></div>

<!-- <div class="row">
    <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12 team-info"><img src="assets/img/team/akhilesh.png" width="100px" style="margin-bottom: 20px;">
        <h4>Akhilesh Srivastava</h4>
        <p>Founder/CEO</p>
        <div style="width:60px;height:1px; background-color: #979797;margin-left: auto;margin-right: auto;margin-bottom: 10px;"></div>
       
    </div>

    <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12 team-info"><img src="assets/img/team/mike.png" width="100px" style="margin-bottom: 20px;">
        <h4>Mike Brown</h4>
        <p>Advisor</p>
        <div style="width:60px;height:1px; background-color: #979797;margin-left: auto;margin-right: auto;margin-bottom: 10px;"></div>
       
    </div>

     <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12 team-info"><img src="assets/img/team/james.png" width="100px" style="margin-bottom: 20px;">
        <h4>James Chin</h4>
        <p>Advisor</p>
        <div style="width:60px;height:1px; background-color: #979797;margin-left: auto;margin-right: auto;margin-bottom: 10px;"></div>
        
    </div>

     <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12 team-info"><img src="assets/img/team/paul.png" width="100px" style="margin-bottom: 20px;">
        <h4>Paul Vogel</h4>
        <p>Advisor</p>
        <div style="width:60px;height:1px; background-color: #979797;margin-left: auto;margin-right: auto;margin-bottom: 10px;"></div>
        
    </div>

</div>
    <div class="row">
    <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12 team-info"><img src="assets/img/team/gupta.png" width="100px" style="margin-bottom: 20px;">
        <h4>Gupta Gogula</h4>
        <p>VP Engineering</p>
        <div style="width:60px;height:1px; background-color: #979797;margin-left: auto;margin-right: auto;margin-bottom: 10px;"></div>
        
    </div>

    <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12 team-info"><img src="assets/img/team/apurva.png" width="100px" style="margin-bottom: 20px;">
        <h4>Apurva Chiranewala</h4>
        <p>Advisor</p>
        <div style="width:60px;height:1px; background-color: #979797;margin-left: auto;margin-right: auto;margin-bottom: 10px;"></div>
        
    </div>


<div class="col-xl-3 col-md-3 col-sm-6 col-xs-12 team-info"><img src="assets/img/team/manish.png" width="100px" style="margin-bottom: 20px;">
        <h4>Manish Joneja</h4>
        <p>Advisor</p>
        <div style="width:60px;height:1px; background-color: #979797;margin-left: auto;margin-right: auto;margin-bottom: 10px;"></div>
        
    </div>

    <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12 team-info"><img src="assets/img/team/carl.png" width="100px" style="margin-bottom: 20px;">
        <h4>Carl Gish</h4>
        <p>Advisor</p>
        <div style="width:60px;height:1px; background-color: #979797;margin-left: auto;margin-right: auto;margin-bottom: 10px;"></div>
        
    </div> -->

<h5 style="text-align: center;font-size: 16px;padding-bottom: 30px;">Our Collective Experience </h5>
<img src="public/css/assets/img/exp-logo.png" width="100%">  




</div>

             



        </div>




        
        <section style="height:100px;"></section>
       
       
 
       
    

    <section class="spacing-4" style="background-color:rgba(255,255,255,0);"></section>
    <section id="footer" style="height:111px;background-color:#006281;">
        <div class="container" style="background-color:rgba(166,16,16,0);color:rgba(255,255,255,0);">
            <div class="row" style="margin-top:22px;">
                <div class="col-md-6 col-xs-6"><a href="#go-top"><img src="public/css/assets/img/fenix_logo.png" style="width:200px;"></a>
                    <p style="color:white;font-size:10px;margin-top:13px;font-weight:300;">copyright@fenixcommerce </p>
                </div>
                <div class="col-md-6 col-xs-6" style="text-align:right;color:white;font-size:14px;font-weight:300;">
                    <p style="margin-top:9px;"><a class="link-tag" href="#go-down">About Us</a></p>
                    <p><a class="link-tag" href="mailto:info@fenixcommerce.com?Subject=Hello" target="_top">Contact</a></p>
                </div>
            </div>
        </div>
    </section>
    </div>
    <script src="public/css/assets/js/jquery.min.js"></script>
     <script src="public/css/assets/js/scroll.js"></script>
    <script src="public/css/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>