<!DOCTYPE html>
<html>
<head>
       <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111395267-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111395267-1');
</script>

    
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PF4W72S');</script>
<!-- End Google Tag Manager -->
    
    

    <title>Fenix commerce</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/assets/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="public/css/assets/css/user.css">
   
</head>
<body style="font-family:Lato, sans-serif;">


         <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PF4W72S" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    <nav class="navbar navbar-default navbar-fixed-top" style="font-family:Roboto, sans-serif;border-bottom:1px solid #D1EEF8;">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="#go-top"> <img src="public/css/assets/img/fenix_logo_color.png" class="fx-logo"></a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                   
                    <li role="presentation"><a href="#go-demo" >Request Demo</a></li>
                    <li role="presentation"><a href="https://test-console.fenixcommerce.com/#/" target="_blank" style="color: rgb(208,208,208);">Log In</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div id="go-top" style="height:147px;"></div>
    <div class="container" style="background-image:url(&quot;public/css/assets/img/backdrop.jpg&quot;);padding:30px;">
        <div class="blue-box-1" style="text-align:center;">
            <h1 class="head-white-2 spc-head-1" style="font-weight:700;">Increase your online sales</h1>
            <h1 class="head-white-2" style="margin-top:0px;font-weight:300;">with Intelligent Delivery Experience</h1><a href="#go-down"><img src="public/css/assets/img/scroll.png" class="scroll-btn"></a></div>
    </div>
    <div id="go-down" style="height:190px;"></div>
    <div>
       <div class="container">
        
    <div class="row" style="padding-top: 100px;" >
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 dis-text-1">
                     <img src="public/css/assets/img/80.svg" class="ill-img-2">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="text-align:left;">
                        <h1 style="font-family:Roboto, sans-serif;font-size:70px;color:#006281;padding-top: 10px">80% </h1>
                        <p style="font-size: 25px;font-weight: 100;color: #000;">Shoppers make buying decision
                                    based on shipping information</p>
                </div>
    </div>


    <div class="row" style="padding-top: 300px;" >
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 dis-text-1">
                     <img src="public/css/assets/img/section2.gif" class="ill-img-2">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="text-align:left;">
                     <h1 style="font-family:Roboto, sans-serif;font-size:70px;color:#006281;padding-top: 10px">50% </h1>
                    <p style="font-size: 25px;font-weight: 100;color: #000;">Users leave item in cart due to
                    long or unknown delivery dates</p>
                </div>
    </div>


    <div class="row" style="padding-top: 300px;text-align: center;" >
                <div style="text-align: right; width: 300px;display: inline-block;">
                    <h1 style="font-family:Roboto, sans-serif;font-size:100px;color:#006281;padding-top: 0px;padding-right: 20px;">~3% </h1>
                </div>


                <div style="font-size: 20px;display: inline-block;margin-top: -20px;">conversion rate for retailers</div>


                 <div class="col-xl-12">
                         <img src="public/css/assets/img/pop-up.gif" style="width: 100%;">
                 </div>

    </div>
</div>
        <div class="container hidden-xs" style="height:73px;"></div>



        <div class="container" id="go-help">
  <div class="row">
              <div class="col-xl-12">
  <div style="height: 200px;"></div>v
                    <h1 class="blue-heading3" style="text-align: center;">How Does Fenix Commerce Tackle it?</h1>
                   <div style="height: 20px;"></div>
                    <p class="text-big" style="text-align: center;font-size: 22px;">Fenix enables Retailers to provide Reliable, Personalized and Intelligent Delivery Experience to their customers through entire shopping journey
</p>
     <div style="height: 100px;"></div>
              </div>
          </div>

            <div class="row spacing-2">
                <div class="col-md-6 col-sm-6" style="margin-top:135px;">
                    <h1 class="blue-heading" style="font-family:Roboto, sans-serif;">Delivery estimate on</h1>
                    <h1 class="blue-heading" style="margin-top:1px;font-family:Roboto, sans-serif;">Product Detail Page</h1>
                    <p class="para-text">Research has shown that over 50% of the customers abandon the cart due to long/unknown delivery dates and high shipping prices.<br><br>
Providing personalized, reliable, shipping information to customers on product detail page reduces cart abandonment, increasing conversion and most importantly providing your customers the experience they deserve  </p>
                </div>
                <div class="col-md-6 col-sm-6" style="text-align:right;"><img src="public/css/assets/img/OBDKVI0-1.jpg" class="laptop-img-1"></div>
            </div>
            <div class="row" style="margin-top:150px;">
                <div class="col-md-6" style="text-align:left;"><img src="public/css/assets/img/OBDKVI0-2.jpg" class="laptop-img-2"></div>
                <div class="col-md-6 mob-margin" style="height:423px;text-align:right;">
                    <h1 class="blue-heading" style="font-family:Roboto, sans-serif;margin-bottom: 2px;">Personalized Information</h1>
                    <h1 class="blue-heading" style="margin-top:0px;font-family:Roboto, sans-serif;padding-top: 0px;">and Promotions on Customer Emails</h1>
                    <p class="para-text">Offer personalized shipping promotions and delivery dates to your customers in cart abandonment emails and bring them back to site.</p>
                </div>
            </div>
        </div>
        <section style="height:100px;"></section>
        <section class="header-1">
            <h1 class="head-white spacing-3">Drive Sales Growth and Delight your shoppers with&nbsp; </h1>
            <h1 class="head-white" style="margin-top:0px;font-family:Roboto, sans-serif;">a better Delivery Experience </h1>
        </section>
        <div class="container">
            <div class="row" style="padding-top:150px;">
                <div class="col-md-6" style="text-align:center;"><img src="public/css/assets/img/icon1@2x.png" class="icon-mid">
                    <h4 class="head-blue">Personalized Delivery Promises </h4>
                    <p style="width:70%;margin-right:auto;margin-left:auto;font-weight:100;">Provide Your customers reliable, personalized shipping recommendations from the moment they land on your site to product detail page, cart, mini-cart and checkout </p>
                </div>
                <div class="col-md-6" style="text-align:center;"><img src="public/css/assets/img/icon3@2x.png" class="icon-mid">
                    <h4 class="head-blue">Personalized Shipping Promotions </h4>
                    <p style="width:70%;margin-right:auto;margin-left:auto;font-weight:100;">Reward your best customers with personalized shipping promotions, leverage intelligent rules to offer personalized shipping promotions to customers </p>
                </div>
            </div>
            <div class="row" style="padding-top:100px;">
                <div class="col-md-6" style="text-align:center;"><img src="public/css/assets/img/icon2@2x.png" class="icon-mid">
                    <h4 class="head-blue">Meet Customers Shipping Expectations </h4>
                    <p style="width:70%;margin-right:auto;margin-left:auto;font-weight:100;">Provide shipping options to your customers based on their preferences of fast and free shipping </p>
                </div>
                <div class="col-md-6" style="text-align:center;"><img src="public/css/assets/img/icon4@2x.png" class="icon-mid">
                    <h4 class="head-blue">Minimize Cart Abandonment </h4>
                    <p style="width:70%;margin-right:auto;margin-left:auto;font-weight:100;">Use personalized delivery promises and shipping promotions to reduce up to 50% of cart abandonment* </p>
                </div>
            </div>
            <div class="row" style="padding-top:100px;">
                <div class="col-md-6" style="text-align:center;"><img src="public/css/assets/img/icon6@2x.png" class="icon-mid">
                    <h4 class="head-blue">Pro-active Updates to Delivery Date Changes </h4>
                    <p style="width:70%;margin-right:auto;margin-left:auto;font-weight:100;">Changes happen, sometimes delaying the promised shipping dates and other times resulting in early delivery. We help you to keep your customers updated when things change. </p>
                </div>
                <div class="col-md-6" style="text-align:center;"><img src="public/css/assets/img/icon5@2x.png" class="icon-mid">
                    <h4 class="head-blue">Personalized Tracking Updates/Alerts </h4>
                    <p style="width:70%;margin-right:auto;margin-left:auto;font-weight:100;">Provide your customers the seamless and easy to use features to track their shipments when they want it and how they want it - email vs. sms or all events vs. certain events </p>
                </div>
            </div>
            <div class="row" style="padding-top:100px;">
                <div class="col-md-6" style="text-align:center;"><img src="public/css/assets/img/icon8@2x.png" class="icon-mid">
                    <h4 class="head-blue">Post Purchase Shipping Recommendations </h4>
                    <p style="width:70%;margin-right:auto;margin-left:auto;font-weight:100;">You can use our intelligent logistics and inventory engine to get easy to use recommendations on the right fulfillment location as well as carrier service to meet customer promise minimizing cost </p>
                </div>
                <div class="col-md-6" style="text-align:center;"><img src="public/css/assets/img/icon7@2x.png" class="icon-mid">
                    <h4 class="head-blue">Build Customer Trust and Loyalty </h4>
                    <p style="width:70%;margin-right:auto;margin-left:auto;font-weight:100;">Build customer trust and loyalty with reliable promises and shipping options and providing customer updates post purchase. Loyal customers tend to outspend 3x vs. unhappy customers </p>
                </div>
            </div>
        </div>
        <section style="height:150px;"></section>
        <section style="background-color:#6299bb;height:1px;"></section>








     <div id="go-demo" class="container">
            <section style="height:150px;text-align:center;">
                <h1 style="color:#006281;font-size:30px;font-weight:300;font-family:Roboto, sans-serif;margin-top:122px;">Request a demo now </h1>
                <p style="font-weight:100;font-size:18px;">We will get in touch with you within 24 hours
                </p>

           <h4>Email Us</h4>
           <h3 style="color: green;">{{msg}}</h3>
        <form id="contact-form" name="contact-form" method="POST" action="send" class="row" style="margin-top:51px;">
                    <div class="col-md-4" style="display: none !important;">
                        <div class="form-group">
                            <input type="text" id="checking" class="form form-control" placeholder="Leave this field empty" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Leave this field empty'" name="checking" data-name="Checking">
                        </div>
                    </div>

                    <div class="col-md-4" style="padding-right:30px;padding-left:30px;">
                        <h5 style="text-align:left;">Your Name </h5><input class="form-control" type="text" name="name" data-name="Name"  placeholder="Your Name" style="background:none;border:none;border-bottom:1px solid #d3d3d3;border-radius:0;box-shadow:none;outline:none;color:inherit;" required></div>
                    <div
                        class="col-md-4" style="padding-right:30px;padding-left:30px;">
                        <h5 style="text-align:left;">Company Name</h5><input class="form-control" type="text" name="company" data-name="Company" placeholder="Your company name" style="background:none;border:none;border-bottom:1px solid #d3d3d3;border-radius:0;box-shadow:none;outline:none;color:inherit;"required></div>
                <div
                    class="col-md-4" style="padding-right:30px;padding-left:30px;">
                    <h5 style="text-align:left;">E mail </h5>
                    <input class="form-control" type="email" name="emailaddress" placeholder="Your Email ID" style="background:none;border:none;border-bottom:1px solid #d3d3d3;border-radius:0;box-shadow:none;outline:none;color:inherit;" data-name="Email Address" required>
                </div>
                <div class="row">
                    <div class="col-md-12">
                       <button class="btn btn-default" type="submit" id="valid-form" style="position:relative;border-radius:30px;width:120px;margin-top:55px;background-image:linear-gradient(to left, #009bb7, #006281);border:none;">
                        Submit
                       </button>
                   </div>
                </div>
                </form>

                <div class="row">
                    <div class="col-md-12">
                         <div id="block-answer" class="">
                            <div id="answer"></div>
                        </div>
                    </div>
                </div>

    </section>
    </div>
    <section class="spacing-4" style="background-color:rgba(255,255,255,0);"></section>
    <section style="height:111px;background-color:#006281;">
        <div class="container" style="background-color:rgba(166,16,16,0);color:rgba(255,255,255,0);">
            <div class="row" style="margin-top:22px;">
                <div class="col-md-6 col-xs-6"><a href="#go-top"><img src="public/css/assets/img/fenix_logo.png" style="width:200px;"></a>
                    <p style="color:white;font-size:10px;margin-top:13px;font-weight:300;">copyright@fenixcommerce </p>
                </div>
                <div class="col-md-6 col-xs-6" style="text-align:right;color:white;font-size:14px;font-weight:300;">
                    <p style="margin-top:9px;"><a class="link-tag" href="about">About Us</a></p>
                    <p>
<a class="link-tag" href="mailto:info@fenixcommerce.com?Subject=Hello" target="_top">
Contact</a> </p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>